.flex-container {
    display: flex;
    background-color: rgb(253, 114, 60);
    height: 600px;
    align-items: center;
    justify-content: center;
    gap: 14px;
}

.flex-item {
    background-color: rgb(205, 203, 203);
    border: none;
    height: 50px;
    width: 40px;
    align-content: center;
    text-align: center;
    font-size: 12px;
}